*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body 
{
    direction:rtl;

    background-image: url(https://images.unsplash.com/photo-1448842215777-02928daa9d5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1864&q=80);
  
    background-repeat: no-repeat;
    background-position: center;


  

 

}

#container{
    margin: 0 auto;
    max-width: 960px;

 
}





header{
    background-image: linear-gradient(to right bottom,rgb(66, 136, 189), rgb(40, 180, 133));
    padding: 16px;
}
h1  {
   
    font-size: 60px;
    color: #fdffff;
    padding: 16px;
    font-weight: 700;
    text-align: center;
  
}

h2{
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);

 
  
}


.mainImage {

    display: block;
    margin:15px  auto;

}






h3{
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
    font-size: bold;
    color: white;
     
}

h3 span {
    color: black;
}


/* עיצוב החלק התחתון מבחינת מסגרת רקע  ונתתי ערכים כך שיהיה מסגרת עגולה */

#key-features {
	-webkit-border-radius: 40px 40px 0 0;
	border-radius: 40px 40px 0 0;

	margin-top: 50px;
	padding: 30px;
}






/* עיצוב הרשימות. הסרתי את הבולטים  ומירכזתי אותם */

.key_feature_list {
	list-style: none;
	margin: 0;
	padding: 25px;
    text-align: center;
    background-color: rgb(40, 180, 133);
}


/* באמצעות 
  inline block
  אנחנו מוודאים שהם יהיו אחד ליד השני ותמיד יפתסו כל אחד 30 אחוז מהמסך */

.key-feature {
	display: inline-block;
	width: 30%;
    vertical-align: top;

}


/* מעצבים את הטקסט מתחת לאייקונים. */

.key-feature_discription {
	text-align: center;

	color: black;
	font-size: 20px;
}

.key-feature_discription:hover {
    
   font-weight: bold;   
   color: rgb(0, 119, 238);
   transform: translateY(-5px)
}




/* האייקונים עצמם מקבלים סטייל שונה */

.circleimage {
	font-size: 60px;
    margin-bottom: 15px;
    color: white;
}

form {

    background-image: linear-gradient(to right bottom, rgb(91, 157, 243) , #008287ad);
     border-radius: 20px;
    text-align: center;
    margin: 50px auto;
    padding: 35px;
}


#sendForm {
  margin-top: 20px;
}

.foromTitletext
 {
     color: white;
 font-weight: bolder;
    text-decoration: underline;
    font-size: 15px;
    margin-left: 5px;
}

#youremail , #yourname, #phone{
    margin: 5px;
}

#sendForm{
    border: none;
    background-color: #008287;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 4px 80px;
    transition:  all 0.8s;
}


#sendForm:hover{
color:#008287;
background-color: white;
transform: translateY(-10px)

}

.hearmore {
   

 
    
    margin: 50px 10px 0 0;
    color: #5397DD;
     text-align: center;
     font-weight: bold;
     font-size: 50px;
 
 }

#hitFacebook{
  position: relative;
  top: 10px;
}


@media (max-width:951px) {
    label {

           
            display: block;
    }

    #hitlogo{
      display: none;
    }
    .mainImage{
        width: 100%;
    }
  
}
@media (max-width:528px) {

  
}