*{
  box-sizing: border-box;
}

body {

  font-family: 'Roboto', sans-serif;
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

#container{
  max-width: 560px;
  background-color: #f7f7f7;
  margin: 100px auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}


h1{
  background: #2980b9;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
  padding: 10px 20px;
}

#autortitle{
  font-size: 50%;
  text-align: right;
  display: inline;
  background: none;
}
.fa-plus , .fa-minus{
  float: right;
}

/* .plusSign::before {
  content: url("../imAGES/plus-solid.svg");
  
  background-repeat: no-repeat;
  vertical-align: middle;
  color: white;
  padding-right: 10px;
} */

input{
  color: #2980b9;
  font-size: 18px;
  background-color: #f7f7f7;
  width: 100%;
  padding:  13px 13px 13px 20px;
  border: none;

}

input:focus{
  background: white;
  border: 3px solid #2980b9;
  outline: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  background-color: white;
  height: 40px;;
  line-height: 40px;
  color: #666;
}
li:nth-child(2n){
  background-color: #f7f7f7;
}

.completed {
 color: grey;
 text-decoration: line-through;

}

span {
  background-color: red;
  margin-right: 20px;
  width: 0;
  height: 40px; 
  text-align: center;
  color: white;
  transition:  all 0.5s;
 
  display: inline-block;
}
li:hover span {
 
 width: 40px;
}

